@model Board

@{
    ViewBag.Title = "Создание";
    Layout = "_Layout";
}

<h1 class="display-3">@ViewBag.Title</h1>

<div>
    <form asp-action="Create" method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Description"></label>
            <textarea asp-for="Description"></textarea>
            <span asp-validation-for="Description"></span>
        </div>
        <div>
            <label asp-for="ImageUrl"></label>
            <input type="file" name="imageUpload"/>
        </div>
        <div>
            <label asp-for="AccessRoleName"></label>
            <select asp-for="AccessRoleName" asp-items="@ViewBag.Roles"></select>
            <span asp-validation-for="AccessRoleName"></span>
        </div>
        <div>
            <input type="submit" value="Создать" />
            <a asp-action="ViewList">Отмена</a>
        </div>
    </form>
</div>