@model ChangePassword

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<h1 class="display-3 mb-2 text-md-start text-center">@ViewBag.Title</h1>
<form class="container justify-content-center" asp-action="ChangePassword" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center">
        <div class="col col-md-6 mb-2">
            <div class="form-floating">
                <input class="form-control" type="password" asp-for="CurrentPassword" placeholder="..." autocomplete="off" />
                <label asp-for="CurrentPassword"></label>
                <span asp-validation-for="CurrentPassword"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-6 mb-2">
            <div class="form-floating">
                <input class="form-control" type="password" asp-for="NewPassword" placeholder="..." autocomplete="off" />
                <label asp-for="NewPassword"></label>
                <span asp-validation-for="NewPassword"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col col-md-6 mb-2">
            <div class="form-floating">
                <input class="form-control" type="password" asp-for="ConfirmPassword" placeholder="..." autocomplete="off" />
                <label asp-for="ConfirmPassword"></label>
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-auto mb-2">
            <input class="btn shadow" type="submit" value="Сменить пароль"/>
        </div>
        <div class="col-auto mb-2">
            <a class="btn shadow" asp-action="Edit" asp-controller="Account">Отмена</a>
        </div>
    </div>
</form>
