@model ChangePassword

@{
    ViewBag.Title = "Смена пароля";
    Layout = "_Layout";
}

<div class="container">
    <div class="row mb-2">
        <h1 class="display-3">@ViewBag.Title</h1>
    </div>
    <div class="flex-row">
        <form asp-action="ChangePassword" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col mb-3">
                <div class="row">
                    <label class="col-4 pr-1 pt-2 text-right" asp-for="CurrentPassword"></label>
                    <p class="mb-0 pt-2">:</p>
                    <input class="col-4 shadow ml-2" asp-for="CurrentPassword"/>
                    <span class="col-4" asp-validation-for="CurrentPassword"></span>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <label class="col-4 pr-1 pt-2 text-right" asp-for="NewPassword"></label>
                    <p class="mb-0 pt-2">:</p>
                    <input class="col-4 shadow ml-2" asp-for="NewPassword"/>
                    <span class="col-4" asp-validation-for="NewPassword"></span>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row">
                    <label class="col-4 pr-1 pt-2 text-right" asp-for="ConfirmPassword"></label>
                    <p class="mb-0 pt-2">:</p>
                    <input class="col-4 shadow ml-2" asp-for="ConfirmPassword"/>
                    <span class="col-4" asp-validation-for="ConfirmPassword"></span>
                </div>
            </div>
            <div class="col mb-3">
                <div class="row justify-content-center">
                    <input class="btn btn-inter-dark shadow mr-3" type="submit" value="Сменить пароль"/>
                    <a class="btn btn-inter-dark shadow ml-3" asp-action="Edit" asp-controller="Account">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
